/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,*::before,*::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* written by olivialin21 */
.wrap{
  margin: 0 auto;
  max-width: 1024px;
  font-family: "Roboto", sans-serif;
}

.header-contact{
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f6f6f6;
}
.header-contact a{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 15px;
}
.header-contact a span{
  padding-top: 2px;
  line-height: 12px;
}
.header-contact a img{
  margin-right: 5px;
  display: block;
  width: 18px;
  height: 18px;
}
.header-contact .fb{
  margin-right: 10px;
  color: #4160A3;
}
.header-contact .twitter{
  border-left: 2px solid #cccccc;
  padding-left: 10px;
  color: #03AAF1;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  height: 36px;
  margin: 9px 23px;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-list a{
  text-decoration: none;
}
.nav-list li{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 80px;
  color: #00cc99;
  margin-right: 20px;
  position: relative;
}
.nav-list li:hover::before{
  content: "";
  position: absolute;
  background-color: #00cc99;
  width: 100%;
  height: 5px;
  bottom: 0;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 346px;
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center center;
  margin-bottom: 65px;
}
.banner h1{
  color: #fff;
  font-size: 36px;
  line-height: 48px;
  /* font-weight: 600; */
  background-color: #00000050;
  width: 100%;
  padding: 34px 25px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 312px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.52);
  border-radius: 5px;
  margin-bottom: 60px;
}
.card h2{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card p{
  width: 100%;
  line-height: 24px;
  text-align: justify;
  text-justify:inter-ideograph;
}
.card ul{
  width: 100%;
  list-style: disc;
}
.card li{
  text-decoration: dotted;
  line-height: 24px;
  margin-left: 20px;
}

.table-title{
  margin-bottom: 28px;
  font-size: 24px;
  text-align: center;
  /* font-weight: 700; */
}
.table{
  margin:0 auto;
  max-width: 840px;
  width: 100%;
  margin-bottom: 63px;
}
.table th{
  padding: 10px 24px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  text-align: left;
  font-weight: 700;
  background-color: #f7f7f7;
}
.table td{
  padding: 10px 24px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.table .color-green{
  color: #24ad7f;
}

.contact{
  color: #fff;
  padding: 30px 20px;
  min-height: 405px;
  background-image: -webkit-linear-gradient(#006749,#02986e)
}
.contact h2{
  /* font-weight: 700; */
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 25px;
}
.contact-form{
  display: flex;
  justify-content: space-between;
}
.contact-form textarea{
  width: 100%;
  height: 245px;
  border-radius: 5px;
  background-color: #fff;
  padding: 12px;
  margin-right: 40px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  resize:none;
}
.contact-form div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.contact-form label{
  margin-bottom: 5px;
}
.contact-form input{
  width: 100%;
  height: 32px;
  padding: 0 12px;
  border-radius: 5px;
  border: none;
}
.contact-form .form-submit{
  width: 72px;
  font-size: 16px;
  color: #fff;
  background-color: #00cc99;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
}
.contact-form .form-submit:hover{
  color: #013828;
  background-color: #8ddac6;
}

.footer{
  color: #000;
  background-color: #fff;
  padding: 28px 20px;
  height: 122px;
}
.footer img{
  float: left;
}
.footer-contact{
  float: right;
  line-height: 24px;
}
.footer-contact a{
  text-decoration: none;
  color: #e12d80;
}
.footer-contact a:hover{
  color: #860642;
}